// Place all the styles related to the Polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer {
  margin-bottom: 5px;
}

#close-btn {
  font-weight: bold;
  height: 25px;
  line-height: 12px;
  padding: 5px;
  position: absolute;
  right: 16px;
  top: 2px;
  width: 25px;
}
